# Dependency directories
node_modules
*.log

# Build output
build
dist

# Test coverage
coverage

# OS-specific files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode
.idea

# Git
.git
.gitignore

# Docker-related
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.override.yml
